
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');


body{
    background-color : grey;
    background-image : url('../img/pexels-mateusz-dach-332835.jpg');
    background-size: 150%;
    

    }

	h1{
		font-family: 'Courier Prime', monospace;
		color: aliceblue;	
	}

	.reloj{
		font-family: 'Courier Prime', monospace;
	}

	.tablero {
		background-color:  rgba(13, 11, 128, 0.404);
		color: aliceblue;
			}

	.boton{
		font-family: 'Courier Prime', monospace;
	}

